html {
/*	font: 1.2em/1.4 Arial, Helvetica, sans-serif; */
	font-family: 1.2em/1.4 Arial, 'Epilogue', sans-serif;
}
body {

	padding: 0 0 1em;
	background-color:rgba(179, 179, 179, 0.04);/* rgba(253, 255, 201, 0.60); */ /* #f4f5f2;  */
	
}

ul{
	list-style: none;
}

header > h1 {
	text-align: center;
}

.AppointmentFieldSet > legend {
	width:100%;
	text-align: center;
}

fieldset{
	display: flex;
	flex-direction: column;
}

.ButtonContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 15px;
}

	label[for="Name"], label[for="Name invalid"],
	label[for="Location"],label[for="Location invalid"],
	label[for="Password"], 
	label[for="Password invalid"], 
	label[for="Email"]{
		display: flex;
		flex-direction: row;
		/*justify-content: space-around;*/
		justify-content: flex-end;
		flex-wrap: nowrap;
		margin-bottom: 5px;
}

	.TextInput.invalid{
		width: 75%;
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
		position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa
	}

	.SignupLink{
		/*display: flex;
		align-items: center;
		justify-content: center;*/
		text-align: center;
	}
	.Start,label[for="End"]{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.appointment-list{
		padding: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align:center;
	}
	.appointment {
		margin-left: 5px;
		margin-bottom: 1em;
	}
	.appointment > dl, dd{
		text-align: center;
		margin: 0px;
		padding: 5px;
	}
	/*.appointment , dl:nth-child(odd){ */
	.appointment > dl {
		background-color:rgba(194, 188, 200, 0.29); /* #c2bcc8;*/
	}
	.appointment > dl dt{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		font-style: italic;
	}
	.appointment > dl ,  dd{
		background-color: rgba(253, 160, 177, 0.08); /*#c2b33f; */
	}
	.middleSection{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align:center;
	}	
	.filters {
		padding: 0;
		display: inline-flex;
	}
/*
 	nav {
 	  border-bottom: solid 1px ;
 	}

 	nav ul{
 	  display: flex;
 	  flex-direction: row;
 	  justify-content: space-between;
 	}

 	nav ul li{
 	  border: none;
 	  margin-right: 1em;
 	}
	*/

	.DateTimeInput-invalid{
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
  -webkit-box-shadow: 1px 1px 1px #aaaaaa;
          box-shadow: 1px 1px 1px #aaaaaa
	}
	.DateInput.invalid{
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
		position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa
	}
	.TextInputEdit.invalid{
		width: 95%;
		height: 1.75em;
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
		position: relative;
  display: inline-block !important;
  -webkit-box-shadow: 1px 1px 1px #aaaaaa;
          box-shadow: 1px 1px 1px #aaaaaa
	}
	.error-message{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 0.75em;
		text-align: right;
		color: red;
	}
	.login-error{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 0.90em;
		text-align: center;
		color: red;
	}
	.signup-errors{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 0.90em;
		text-align: center;
		color: red;
	}
	.SignUpSuccess{
			text-align: center;
	}

	.AddButton{
transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	}
@media screen and (min-width: 70em){
/*
 	nav {
 	  border-bottom: solid 1px ;
 	}

 	nav ul{
 	  display: flex;
 	  flex-direction: row;
 	  justify-content: space-between;
 	}

 	nav ul li{
 	  border: none;
 	  margin-right: 1em;
 	}
*/
	form{
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	}

	label[for="Name"], label[for="Owner"],label[for="Name invalid"]
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
	}
	.Start,label[for="End"]{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.appointment-list{
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align:center;
	}
	.appointment {
		margin-left: 5px;
	}
	.appointment > dl, dd{
		text-align: center;
		margin: 0px;
		padding: 5px;
	}
	/*.appointment , dl:nth-child(odd){ */
	.appointment > dl {
		background-color:rgba(194, 188, 200, 0.29); /* #c2bcc8;*/
	}
	.appointment > dl dt{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		font-style: italic;
	}
	.appointment > dl ,  dd{
		 /*background-color: rgba(194, 179, 63, 0.2); /*#c2b33f; */
		background-color: rgba(253, 160, 177, 0.08); 
	}
	.middleSection{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align:center;
	}	
	.filters {
		padding: 0;
		display: inline-flex;
	}

}
@media screen and (min-width: 30em){
/*
 nav {
	 border-bottom: solid 1px ;
 }
 nav ul{
   display: flex;
	 flex-direction: row;
   justify-content: flex-end;
 }
 nav ul li{
   border: none;
	 margin-right: 1em;
 }

 */
	form{
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	}


	label[for="Name"], label[for="Name invalid"],
	label[for="Location"],label[for="Location invalid"],
	label[for="Password"], 
	label[for="Email"]{
		display: flex;
		flex-direction: row;
		/*justify-content: space-around;*/
		justify-content: flex-end;
		flex-wrap: nowrap;
		margin-bottom: 5px;
	}
	
	.DateTimeInput-invalid{
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
  -webkit-box-shadow: 1px 1px 1px #aaaaaa;
          box-shadow: 1px 1px 1px #aaaaaa
	}

	.TextInput.invalid{
		width: 75%;
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
		position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa
	}

	.DateInput.invalid{
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
		position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa
	}
	.TextInputEdit.invalid{
		width: 95%;
		height: 1.75em;
		margin-right: 3px;
		margin-top: 0px;
		border: 2px solid;
		border-color: #c51244 !important;
		border-radius: 5px;
		background-color:#f4f4f4 !important;
		position: relative;
  display: inline-block !important;
  -webkit-box-shadow: 1px 1px 1px #aaaaaa;
          box-shadow: 1px 1px 1px #aaaaaa
	}
	.Start,label[for="End"]{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.error-message{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 0.75em;
		text-align: right;
		color: red;
	}
	.login-error{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 0.90em;
		text-align: center;
		color: red;
	}
	.signup-errors{
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 0.90em;
		text-align: center;
		color: red;
	}
	.appointment-list{
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align:center;
	}
	.appointment {
		margin-left: 5px;
	}
	.appointment > dl, dd{
		text-align: center;
		margin: 0px;
		padding: 5px;
	}
	/*.appointment , dl:nth-child(odd){ */
	.appointment > dl {
		background-color:rgba(194, 188, 200, 0.29); /* #c2bcc8;*/
	}
	.appointment > dl dt{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		font-style: italic;
	}
	.appointment > dl ,  dd{
		background-color: rgba(253, 160, 177, 0.08); 
		/*background-color: rgba(194, 179, 63, 0.2); /*#c2b33f; */
	}
	.middleSection{
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align:center;
	}	
	.filters {
		padding: 0;
		display: inline-flex;
	}
	.SignupLink{
		/*display: flex;
		align-items: center;
		justify-content: center;*/
		text-align: center;
	}
}

